@font-face{
	font-family: "pricedown";
	src: local(Fonts/pricedown.ttf);
}

body{
	background-color: lightblue;
}

h1{
	position: fixed;
	left: 50%;
	top: 130px;
	transform: translate(-50%, 0px);
	text-align: center;

	font-family: "pricedown";
	font-size: 50px;
}

h2{
	position: fixed;
	left: 50%;
	top: 200px;
	transform: translate(-50%, 0px);
	text-align: center;

	font-family: "pricedown";
	font-size: 30px;
}

.textBox{
	position: inherit;
	width: 200px;
	height: 30px;
	
	left: 50%;
	transform: translate(-50%, 0px);

	text-align: center;

	border-radius: 4px;
	border-color: #e8e8e8;
	background-color: #f2f2f2;
}

.textBoxLogIn{
	position: inherit;
	width: 200px;
	height: 30px;

	margin-top: -100px;
	left: 50%;
	transform: translate(-50%, 0px);

	text-align: center;

	border-radius: 4px;
	border-color: #e8e8e8;
	background-color: #f2f2f2;
}

#centered{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#submitButton{
	position: inherit;
	left: 50%;
	bottom: -60px;
	width: 250px;
	height: 40px;
	transform: translate(-50%, 0px);

	background-color: #34b1eb;
	border-color: white;
	border-radius: 8px;
	color: white;
}

#submitButton:hover{
	background-color: #67bde6;
	cursor: pointer;
}

#submitButtonLogIn{
	position: inherit;
	left: 50%;
	bottom: 50px;
	width: 250px;
	height: 40px;
	transform: translate(-50%, 0px);

	background-color: #34b1eb;
	border-color: white;
	border-radius: 8px;
	color: white;
}

#submitButtonLogIn:hover{
	background-color: #67bde6;
	cursor: pointer;
}